@model RecNet.Models.RecNet.Offre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localisation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localisation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecruteurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRecruteurNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
